[Unit]
Description=Daemon to listen for wake on lan requests

[Service]
Type=simple
ExecStart=/usr/local/sbin/rpiwol-daemon
WorkingDirectory=/usr/local/etc/rpiwol

#Dynamic user implies:
#ProtectSystem=strict
#ProtectHome=read-only
#PrivateTmp=yes
#RemoveIPC=yes
DynamicUser=true

#Only allow access to keyfile
ReadOnlyPaths=/usr/local/etc/rpiwol

#redirect outputs to journal
StandardOutput=journal+console
StandardError=journal+console

#restart after 5s if crashes
Restart=on-failure
RestartSec=5s

MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateTmp=true
PrivateUsers=true
ProtectHome=true

ProtectSystem=strict
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

RestrictAddressFamilies=AF_INET
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
